
.footer {
    width: 100%;
    bottom: 0;
    position: relative;
    background-color: white;
    max-height: 7vh;
    color: black;
}

.contenido-footer{
    text-align: center;
    align-items: center;
    padding: 1rem;
    margin: 0; 
    display: grid;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    place-content: center;
    background-color: white;
}

.contenido-footer p{
    display: grid;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    place-content: center;
}

.contenido-footer h5{
    color: black;
    display: grid;
    place-content: center;
}

.derechos p{
    display: grid;
    place-content: center;
    align-items: center;
    padding: 0;
    color: black;
    margin-top: 0;
}


.logoUade{
    width: 60%;
    vertical-align: middle;
    align-items: center;
}

.fondo-logo{
    color: white;
}