
.footer {
    width: 100%;
    padding-left: 1vh;
}

.contenidoFooter{
    text-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
    
}
.card-body p{
    display: grid;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    place-content: center;
}

.card-title{
    margin-top: 1vh;
    display: grid;
    place-content: center;
}

.DERECHOS{
    display: grid;
    place-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 40px;
    color: black;
}

.derechos p{
    color: whitesmoke;
}

.logoUade{
    width: 60%;
    vertical-align: middle;
}
