body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.row{
    --bs-gutter-x: 0rem;
}

.navbar {
    background-color: #654321;
    justify-content: space-between;
}

.main-content {
    background-image: url(../sources/cuidaPlantas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
}

.principal {
    width: 40%;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    margin-left: 85vh;
    text-align: justify;
}

.principal p {
    text-align: justify;
    margin-top: 0;
    color: black;
}


.secundario {
    background-color: #25bdae;
    min-height: 20vh;
    text-align: center;
}

.secundario h5,p {
    vertical-align: middle;
    align-items: center;
    margin-bottom: 0;
    margin-top: 7vh;
    color: white;
}

.Logo-SobreNosotros {
    width: 8rem;
    justify-content: flex-start;
    display: flex;
}


.video {
    display: grid;
    place-content: center;
    margin: auto;
    flex-direction: column;
}

.contactoFoto {
    width: 35rem;
    margin: auto;
    padding: 0;
    position: relative;
    padding-top: 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
}

.contenedorflex {
    display: flex;
    /*    justify-content: space-around;*/
    align-items: center;
    justify-content: center;
    padding: 4.5vh;
}

.main-video {
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-left: 25rem;
    margin-bottom: 5rem;
}

/* +++++++++++++++ INICIO FORM CONTACTO +++++++++++++++ */
.formulario {
    /*  Formato general */
    margin-top: 5rem;
    width: 100%;
    max-width: 100%;
    margin-left: 5rem;
    padding: 20px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
}

.formulario_titulo {
    text-align: left;
    margin-top: 0;
    margin-bottom: 1.5em;
    color: #000000;
}

.formulario_input,
.formulario_label,
.formulario_submit {
    display: block;
    width: 100%;
    font-size: 1.3em;
}

.formulario_input {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.1);
}

.formulario_label {
    border: transparent;
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
}

.formulario_submit {
    background: rgba(0, 0, 0, 0.5);
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    margin-bottom: 1rem;
}

.formulario_input:focus+.formulario_label {
    margin-top: -135px;
    color: #000000;
}

/* Clase que se utiliza en el JS para dejar fijo el txt del Label*/
.fijar {
    margin-top: -135px;
    color: #000000;
}

/* +++++++++++++++ FIN FORM CONTACTO +++++++++++++++ */

/* +++++++++++++++ INICIO CURSOS +++++++++++++++ */

.parrafo-cursos{
    text-align: justify;
    margin-left: 2rem;
    margin-top: 0;
    margin-right: 2rem;
}

.parrafo-cursos h2{
    text-align: center;
}

.parrafo-cursos p{
    margin-top: 0;
    color: white;
}

.parrafo-cursos h5{
    margin-top: 0;
}

.img-taller{
    max-width: 15rem;
    max-height: 10rem;
    border: 6px solid grey;
    margin-bottom: 2rem;
}

#formulario {
    display: none;
    background-image: url(../sources/fondo-hojas.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    border:2px solid #212529 ;
    margin-bottom: 2rem;
    color: #ffffff;
}

#contenido {
    display: none;
}


#parrafo-taller {
    display: none; ;
    padding: 20px;
}

/* +++++++++++++++ FIN CURSOS +++++++++++++++ */

/* +++++++++++++++ Inicio SObre Nosotros +++++++++++++++ */
.parrafo-sobre-nosotros{
    text-align: center;
    align-items: center;
}




/* +++++++++++++++ FOOTER +++++++++++++++ */


/* +++++++++++++++ FIN FOOTER +++++++++++++++ */


@media all and (max-width: 1250px) {
    .principal {
        margin-left: 20vh;
        width: 60%;
    }
}


@media all and (max-width: 991px) {
    .principal {
        width: 80%;
        margin-left: 5vh;
    }
    .contactoFoto {
        display: none;
    }

    .formulario {
        margin: auto;
    }
}