body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif;
}



.navbar{
    background-color: #654321 ;
    justify-content: space-between;
}

.main-content{
    background-image: url(../sources/cuidaPlantas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 70vh;
}

.contenido1{    
    width: 40%;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    margin-top: 5vh;
    margin-left: 80vh;
}
.contenido1 p{
    margin-top: 0;
    color: black;
}


.contenido2{
    background-color:#25bdae ;
    min-height: 20vh;
    text-align: center;
}
.contenido2 h5, p{
    vertical-align: middle;
    align-items: center;
    margin-bottom: 0;
    margin-top: 7vh;
    color: white;
}

.Logo{
    max-width: 30px;
    max-height: 30px;
}


.video{
    display: grid;
    place-content: center;
    margin: auto;
    flex-direction: column;
}




@media all and (max-width: 700px) {
    .contenido1{
        width: 80%;
        margin-left: 5vh;

    }
} 